* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  .sub-container2 {
    display: none;
  }
  .footer-pgh {
    padding: 11px;
    display: flex;
    max-width: 658px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .footer-1 {
    display: flex;
    margin-bottom: 26px;
    font-size: 11px;
    color: #808080;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    justify-content: center;
    gap: 7px;
    align-items: center;
  }
  .footer-2 {
    margin-top: 0;
    line-height: 17px;
    border-top: 2px solid #8080804a;
    background-color: #f1f1f1;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
  }
  .ref-ecom {
    border: 1px solid #f1f1f1;
    border-radius: 6.82353px 6.82353px 6.82353px 6.82353px;
    background-color: #f1f1f1;
    height: 27px;
    padding: 7px;
    align-items: center;
    width: 221px;
    display: flex;
  }
  .inner-mbl-sub-container2 {
    background-color: #f1f1f1;
    padding: 19px;
    margin-top: 11px;
    border-radius: 6.82353px 6.82353px 6.82353px 6.82353px;
    height: 219px;
  }
  .inner-mbl-sub-container1-1 {
    display: flex;

    gap: 1px;
    align-items: center;
  }
  .inner-mbl-sub-container1-2 {
    display: flex;
    color: #808080;
    font-size: 13px;
    gap: 1px;
    align-items: center;
  }
  .inner-mbl-sub-container1 {
    color: #000000;
    font-size: 13px;
    height: 33px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .inner-mbl-sub-container1-2 {
    display: flex;
    color: #808080;
    font-size: 13px;
    gap: 7px;
    align-items: center;
  }
  .sub-container1 {
    padding: 19px;
    width: 85%;
    margin: 0 auto;
    border-radius: 6.82353px;
    border: 2px solid #8080804a;
  }
  .exp-tim {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
  }
  .ft-p {
    font-family: "Lato", sans-serif;
    color: #cb9395;
    font-size: 12px;
    font-weight: bold;
  }
  .container {
    display: flex;
    max-width: 85%;
    margin: 0 auto;
    padding: 0 15px;
    /* border: 1px solid rgb(129, 255, 129); */
  }
  .inner-sub-container2 {
    display: flex;
  }
  .hdr-cont {
    margin-top: 1px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-size: 12px;
  }
  .inpt {
    width: 60%;
    height: 48px;
    letter-spacing: 8px;
    text-align: center;
    border-radius: 6.82353px 0px 0px 6.82353px;
    font-weight: bold;
    border: 1px solid #e5e5e5;
    font-family: "Lato", sans-serif;
    font-size: 17px;
  }
  .inpt::-webkit-input-placeholder {
    font-size: 13px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
  }
  .inpt:-moz-placeholder {
    font-size: 13px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
  }
  .hdr-p {
    font-size: 12px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
  }
  .rsnd-btn {
    width: 40%;
    height: 48px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 0px 6.82353px 6.82353px 0px;
    background-color: #ffffff;
    color: #cb9395;
    font-weight: bold;
    border: 1px solid #e5e5e5;
    font-family: "Lato", sans-serif;
    font-size: 12px;
  }
  .rsnd-btn p {
    margin: 0px;
  }
  .rsnd-btn p:nth-child(2) {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
  }
  .tmr {
    color: #98272a;
  }
  .cfm-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    align-items: center;
    border-radius: 6.82353px;
    border: 1px solid #cb9395;
    background-color: #cb9395;
    height: 41px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    margin: 32px auto;
  }
  header {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main-container1 {
    display: flex;
    margin: 0 auto;
    max-width: 658px;
    height: 373px;
  }
  .sub-container2-mercht {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
  }
  .sub-container2-pgh {
    color: #808080;
    font-size: 17px;
    margin-top: 0px;
    height: 34px;
    font-family: "Lato", sans-serif;
  }
  .cpy-rigt {
    margin-top: -13px;
  }
  .sub-container2-pwd {
    display: flex;
    justify-content: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 95px;
    gap: 3px;
    font-size: 11px;
    color: #808080;
    align-items: center;
    font-weight: bold;
    font-family: "Lato", sans-serif;
  }
  .sub-container2-ntk {
    display: flex;
    gap: 3px;
    margin-top: -14px;
    color: #808080;
    font-size: 14px;
    align-items: center;
    font-weight: bold;
    font-family: "Lato", sans-serif;
  }
  .sub-container2-amt {
    color: #000000;
    font-size: 16px;
    display: flex;
    height: 36px;
    align-items: center;
    font-weight: bold;
    font-family: "Lato", sans-serif;
  }
  .parent-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .parent-container1 {
    width: 100%;
    margin: auto;
    /* border: 1px solid rgb(2, 13, 78); */
  }
  .main-container2 {
    border-radius: 0px 0px 8px 8px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cb9395;
    width: 56%;
    margin: 0 auto;
  }
  footer {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media only screen and (min-width: 600px) {
  .footer-1 {
    display: none;
  }
  .footer-pgh {
    padding: 11px;
    display: flex;
    max-width: 579px;
    height: 63px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .footer-2 {
    margin-top: 0;
    border-top: 2px solid #8080804a;
    background-color: #f1f1f1;
    font-size: 12px;
    line-height: 17px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
  }
  .inner-mbl-sub-container2 {
    padding: 19px;
    margin-top: -18px;
    height: 219px;
  }
  .ref-ecom {
    margin-left: 17px;
    display: flex;
    height: 27px;
    padding: 7px;
    width: 221px;
    align-items: center;
    border-radius: 6.82353px 6.82353px 6.82353px 6.82353px;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
  }
  .inner-mbl-sub-container1 {
    display: none;
  }
  .exp-tim {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
  }
  .ft-p {
    font-family: "Lato", sans-serif;
    color: #cb9395;
    font-size: 12px;
    font-weight: bold;
  }
  .container {
    display: flex;
    max-width: 579px;
    margin: 0 auto;
    padding: 0 15px;
    /* border: 1px solid rgb(129, 255, 129); */
  }
  .inner-sub-container2 {
    display: flex;
    margin: 34px 0px 0px 0px;
  }
  .hdr-cont {
    font-weight: bold;
    line-height: 17px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
  }
  .inpt {
    width: 60%;
    height: 48px;
    letter-spacing: 9px;
    text-align: center;
    border-radius: 6.82353px 0px 0px 6.82353px;
    font-weight: bold;
    border: 1px solid #e5e5e5;
    font-family: "Lato", sans-serif;
    font-size: 17px;
  }
  .inpt::-webkit-input-placeholder {
    font-size: 13px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
  }
  .inpt:-moz-placeholder {
    font-size: 13px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
  }
  .hdr-p {
    font-weight: bold;
    line-height: 17px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
  }
  .rsnd-btn {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 40%;
    height: 48px;
    border-radius: 0px 6.82353px 6.82353px 0px;
    background-color: #ffffff;
    color: #cb9395;
    font-weight: bold;
    border: 1px solid #e5e5e5;
    font-family: "Lato", sans-serif;
    font-size: 12px;
  }
  .rsnd-btn p {
    margin: 0px;
  }
  .rsnd-btn p:nth-child(2) {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
  }
  .tmr {
    color: #98272a;
  }
  .cfm-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    align-items: center;
    border-radius: 6.82353px;
    border: 1px solid #cb9395;
    background-color: #cb9395;
    height: 41px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    margin: 38px auto 0px auto;
  }
  header {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main-container1 {
    display: flex;
    margin: 0 auto;
    max-width: 579px;
    height: 298px;
  }
  .sub-container1 {
    padding: 18px;
    width: 60%;
    border-radius: 6.82353px 0px 0px 6.82353px;
    border-left: 2px solid #8080804a;
    border-top: 2px solid #8080804a;
    border-bottom: 2px solid #8080804a;
  }
  .sub-container2 {
    border-radius: 0px 6.82353px 6.82353px 0px;
    background-color: #f1f1f1;
    width: 40%;
    padding: 18px;
    border-left: 2px solid #8080804a;
    border-right: 2px solid #8080804a;
    border-top: 2px solid #8080804a;
    border-bottom: 2px solid #8080804a;
  }
  .sub-container2-mercht {
    color: #000000;
    text-align: end;
    font-size: 14px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
  }
  .sub-container2-pgh {
    color: #808080;
    font-size: 17px;
    text-align: end;
    margin-top: 0px;
    height: 34px;
    font-family: "Lato", sans-serif;
  }
  .cpy-rigt {
    margin-top: -13px;
  }
  .sub-container2-pwd {
    display: flex;
    justify-content: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 44px;
    gap: 3px;
    font-size: 11px;
    color: #808080;
    align-items: center;
    font-weight: bold;
    font-family: "Lato", sans-serif;
  }
  .sub-container2-ntk {
    display: flex;
    gap: 3px;
    margin-top: -14px;
    color: #808080;
    font-size: 14px;
    flex-flow: row-reverse wrap;
    align-items: center;
    font-weight: bold;
    font-family: "Lato", sans-serif;
  }
  .sub-container2-amt {
    color: #000000;
    font-size: 16px;
    display: flex;
    flex-flow: row-reverse wrap;
    height: 36px;
    align-items: center;
    font-weight: bold;
    font-family: "Lato", sans-serif;
  }
  .parent-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .parent-container1 {
    width: 100%;
    margin: auto;
    /* border: 1px solid rgb(2, 13, 78); */
  }
  .main-container2 {
    border-radius: 0px 0px 8px 8px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cb9395;
    max-width: 426px;
    margin: 0 auto;
  }
  footer {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
